// COLORS
$color-primary: #333;
$color-h2: #0182CA; // Container
$width-container: 1200px;
$p-container: 25px;
// FONTS
$font-stack: 'Arial',
sans-serif;
$font-oswald: 'Oswald',
sans-serif;
$font-quicksand:'Quicksand',
sans-serif;
$font-raleway:'Raleway',
sans-serif;