.service {
    padding: 50px 0;
    background-color: rgb(248, 252, 252);
    text-align: center;
    align-items: center;
    justify-content: center;
    .service__title {
        font-family: $font-quicksand;
        font-weight: 400;
        text-transform: uppercase;
        span {
            font-family: $font-quicksand;
            color: rgb(18, 172, 38);
            font-weight: 700;
        }
    }
    .service__list {
        flex-wrap: wrap;
        list-style: none;
        padding: 50px 0;
        justify-content: center;
        align-items: center;
    }
    .service__item {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border: 2px solid #0182CA;
        border-radius: 10px;
        max-width: 300px;
        width: 100%;
        height: 400px;
        margin: 10px;
        background-color: #fff;
        padding: 20px;
        transition: all ease 0.2s;
        &:hover {
            box-shadow: -1px 7px 19px 1px rgba(2, 2, 2, 0.2);
            transform: translateY(-10px);
        }
        img {
            border-radius: 5%;
            width: 250px;
            height: 220px;
        }
        h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: $font-quicksand;
            font-weight: 700;
        }
        text-decoration: none;
        color: $color-primary;
    }
    .service__item:nth-child(2) {
        img {
            height: 170px;
            margin: 30px auto;
        }
    }
}

.more-info {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    color: rgb(170, 169, 169);
    border: 1px solid transparent;
    transition: all ease 1s;
    .bx {
        position: relative;
        top: 2px;
    }
    &:hover {
        border-radius: 10px;
        border: 1px solid #0182CA;
        .bx {
            transition: all ease 1s;
            transform: translateX(10px);
        }
    }
}

@media screen and (max-width: 576px) {
    .service__list {
        flex-direction: column;
        justify-content: center;
    }
    .service__item {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}